@font-face {
  font-family: 'Thasadith-Regular';
  /* src: url('webfont.eot'); IE9 Compat Modes */
  /* url('webfont.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
  src: 
       /* url('webfont.woff2') format('woff2'), Super Modern Browsers */
       /* url('webfont.woff') format('woff'), Pretty Modern Browsers */
       url('Thasadith-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       /* url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
}
@font-face {
  font-family: 'Thasadith-Italic';
  /* src: url('webfont.eot'); IE9 Compat Modes */
  /* url('webfont.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
  src: 
       /* url('webfont.woff2') format('woff2'), Super Modern Browsers */
       /* url('webfont.woff') format('woff'), Pretty Modern Browsers */
       url('Thasadith-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       /* url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
}
@font-face {
  font-family: 'Thasadith-Bold';
  /* src: url('webfont.eot'); IE9 Compat Modes */
  /* url('webfont.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
  src: 
       /* url('webfont.woff2') format('woff2'), Super Modern Browsers */
       /* url('webfont.woff') format('woff'), Pretty Modern Browsers */
       url('Thasadith-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       /* url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
}
@font-face {
  font-family: 'Thasadith-BoldItalic';
  /* src: url('webfont.eot'); IE9 Compat Modes */
  /* url('webfont.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
  src: 
       /* url('webfont.woff2') format('woff2'), Super Modern Browsers */
       /* url('webfont.woff') format('woff'), Pretty Modern Browsers */
       url('Thasadith-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       /* url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
}
