@font-face {
  font-family: 'Charm-Regular';
  /* src: url('webfont.eot'); IE9 Compat Modes */
  /* url('webfont.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
  src: 
       /* url('webfont.woff2') format('woff2'), Super Modern Browsers */
       /* url('webfont.woff') format('woff'), Pretty Modern Browsers */
       url('Charm-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       /* url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
}
@font-face {
  font-family: 'Charm-Bold';
  /* src: url('webfont.eot'); IE9 Compat Modes */
  /* url('webfont.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
  src: 
       /* url('webfont.woff2') format('woff2'), Super Modern Browsers */
       /* url('webfont.woff') format('woff'), Pretty Modern Browsers */
       url('Charm-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
       /* url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
  font-weight: bold;
}
